@model FestivalScheduler.Meeting

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Meeting</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MeetingID)

        <div class="form-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start)
                @Html.ValidationMessageFor(model => model.Start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End)
                @Html.ValidationMessageFor(model => model.End)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomID)
                @Html.ValidationMessageFor(model => model.RoomID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAllDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAllDay)
                @Html.ValidationMessageFor(model => model.IsAllDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecurrenceRule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecurrenceRule)
                @Html.ValidationMessageFor(model => model.RecurrenceRule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecurrenceID, "RecurrenceID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RecurrenceID", String.Empty)
                @Html.ValidationMessageFor(model => model.RecurrenceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecurrenceException, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecurrenceException)
                @Html.ValidationMessageFor(model => model.RecurrenceException)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTimezone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTimezone)
                @Html.ValidationMessageFor(model => model.StartTimezone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTimezone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTimezone)
                @Html.ValidationMessageFor(model => model.EndTimezone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
