<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fringe Theatre Scheduler System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/web/kendo.common.min.css")
    @Styles.Render("~/Content/web/kendo.rtl.min.css")
    @Styles.Render("~/Content/web/kendo.default.min.css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Scheduler System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  @(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Home").Action("Index", "Home");
          items.Add().Text("About").Action("Index", "Home");
          items.Add().Text("Contact").Action("Index", "Home");
          
          items.Add()
              .Text("Admin")
              .Items(children =>
               {
                   children.Add().Text("Setting")
                           .Items(innerChildren =>
                           {
                               innerChildren.Add().Text("Users").Action("Index", "Account");
                               innerChildren.Add().Text("Groups").Action("Index", "Groups");
                               innerChildren.Add().Text("Permissions").Action("Index", "Roles");
                           });
               });
          items.Add()
           .Text("Scheduler")
           .Items(children =>
           {

               children.Add().Text("Rooms").Action("Index", "HScheduler");
               children.Add().Text("Groups").Action("Index", "Groups");
               children.Add().Text("Permissions").Action("Index", "Roles");
 
           });     

      })
    )
                  
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fringe Theatre Scheduler System</p>
        </footer>
    </div>


</body>
</html>
