@using System.Globalization;
@using FestivalScheduler.Models.Resouces;
@model IEnumerable<FestivalScheduler.Models.Meeting>

@{
    ViewBag.Title = "Scheduling";
    string datePatten = "MMM-dd-yyyy";
    string timePatten = "hh:mm tt";
}

<h2>Time Table</h2>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
    <thead>
        <tr>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Date</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Start.ToString(datePatten, CultureInfo.CreateSpecificCulture("en-US"))
                </td>
                <td>
                    @item.Start.ToString(timePatten, CultureInfo.CreateSpecificCulture("en-US"))
                </td>
                <td>
                    @item.End.ToString(timePatten, CultureInfo.CreateSpecificCulture("en-US"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <label>Date</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </tfoot>
</table>



<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "/Scripts/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf"
            },
            "aaSorting": [[0, "asc"]],
            "iDisplayLength": 100,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true,
            "sPaginationType": "full_numbers",
            "sScrollY": "750px"
        });
    });
</script>